@{
    ViewData["Title"] = "Cart Page";
}
<!DOCTYPE html>
<section id="aa-catg-head-banner">
   <img src="img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
   <div class="aa-catg-head-banner-area">
     <div class="container">
      <div class="aa-catg-head-banner-content">
        <h2>Cart Page</h2>
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>                   
          <li class="active">Cart</li>
        </ol>
      </div>
     </div>
   </div>
  </section>
  <!-- / catg header banner section -->

 <!-- Cart view section -->
 <section id="cart-view">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="cart-view-area">
           <div class="cart-view-table">
             <form action="">
               <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    @if(ViewBag.cart!=null)
                    {
                        <tbody>
                            @foreach (var item in ViewBag.cart)
                            {
    
                                <tr>
                                    <td><a class="remove" asp-controller="Cart" asp-action="Remove" asp-route-id="@item.Product.Id"><fa class="fa fa-close"></fa></a></td>
                                    <td><a class="aa-product-img" asp-action="Detail" asp-controller="Home" asp-route-id='@item.Product.Id'>
                                            <img src='https://aoishin.scm.azurewebsites.net/dev/api/files/wwwroot/image/@item.Product.Image' alt="polo shirt img" asp-append-version="true" width="100%" height="300px">
                                        </a>
                                    </td>
                                    <td><a class="aa-cart-title"  asp-action="Detail" asp-controller="Home" asp-route-id='@item.Product.Id'>@item.Product.Name</a></td>
                                    <td>@item.Product.Price</td>
                                    <td>
                                        <a class="drop" asp-controller="Cart" asp-action="DropItem" asp-route-id="@item.Product.Id">Drop</a>
                                        <input class="aa-cart-quantity" type="number" readonly=true value="@item.Quantity">
                                        <a class="add" asp-controller="Cart" asp-action="AddItem" asp-route-id="@item.Product.Id">Add</a>
                                    </td>                                    
                                    <td>@(item.Product.Price*item.Quantity) VND</td>
                                </tr>
                            }
                            <tr>
                                <td colspan="6" class="aa-cart-view-bottom">
                                <input class="aa-cart-view-btn" type="submit" value="Update Cart">
                                </td>
                            </tr>
                        </tbody>
                    }
                  </table>
                </div>
             </form>
             <!-- Cart Total view -->
             <div class="cart-view-total">
               <h4>Cart Totals</h4>
               <table class="aa-totals-table">
                 <tbody>
                   <tr>
                     <th>Subtotal</th>
                     <td>@ViewBag.total</td>
                   </tr>
                   <tr>
                     <th>Total</th>
                     <td>@ViewBag.total</td>
                   </tr>
                 </tbody>
               </table>
               @if(ViewBag.cart!=null && User.Identity.Name!=null)
               {
                <a asp-action="Index" asp-controller="Checkout" class="aa-cart-view-btn">Proced to Checkout</a>
               }
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- / Cart view section -->
