@model IList<Shared.ProductVm>

@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<ul class="aa-product-catg">
    @foreach (var product in Model)
    {
    <li>
        <figure>
        <a class="aa-product-img" asp-action="Detail" asp-controller="Home" asp-route-id='@product.Id'>
            <img src='@Configuration["imgUrl"]/@product.Image' alt="polo shirt img" asp-append-version="true" width="100%" height="300px"/>
        </a>
        <a class="aa-add-card-btn" asp-action="Buy" asp-controller="Cart" asp-route-id="@product.Id"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
            <figcaption>
            <h4 class="aa-product-title"><a href="#">@product.Name</a></h4>
            <span class="aa-product-price">@product.Price</span>
        </figcaption>
        </figure>                        
        <div class="aa-product-hvr-content">
        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
        <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                          
        </div>
        <!-- product badge -->
        <span class="aa-badge aa-sale" href="#">SALE!</span>
    </li>
    }  
 </ul>
 